.modal-header
  %h1
    = task.new_record? ? 'New Task' : 'Edit Task'
= simple_form_for task, class: 'clearfix', remote: true do |f|
  .modal-body
    = f.input :name
    = f.input :due_date, as: :string, input_html: {class: 'datepicker'}
    = f.input :completed
    = select_tag :category_id, options_for_select(@categories, task.category_id)
  .modal-footer
    = f.submit 'Save', class: 'btn btn-primary'
