- if tasks.empty?
  %span.text-warning There are no tasks!
- else
  %table.table.table-hover
    %thead.thead-light
      %tr
        %th Name
        %th Due Date
        %th Category
        %th Completed
        %th
        %th
    %tbody
      - tasks.each do |task|
        %tr
          %td
            %strong= task.name
          %td.text-info= task.due_date
          %td= - Category.find(task.category_id).name
          %td.text-success= task.completed
          %td
            = link_to 'Delete', task_path(task), remote: true, method: :delete, data: {confirm: "Are you sure you want to delete task '#{task.name}'?"}
          %td
            = link_to 'Edit', edit_task_path(task), remote: true