.container
  .form-row
    .span2.mr-auto
      = link_to 'New Task', new_task_path, class: 'btn btn-primary', remote: true
    %form.form-inline
      .form-group
        = form_tag(tasks_path, method: :get, role: 'form') do
          = text_field_tag :term, params[:term], class: 'form-control'
          &nbsp;
          = submit_tag 'Search', name: nil, class: 'btn btn-secondary'
  %br
#task-list.container
  = render partial: 'tasks/task_list', locals: {tasks: @tasks}
#modal.modal.fade