-# frozen_string_literal: true
= simple_form_for(@user) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :email
    - if !@user.new_record?
      = f.input :current_password
    = f.input :password, label: (@user.new_record? ? 'Password' : 'New password (optional)')
    = f.input :password_confirmation, label: (@user.new_record? ? 'Password confirmation' : 'New password confirmation')

  .form-actions
    = f.submit (@user.new_record? ? 'Create User' : 'Save User'), class: 'btn btn-success'
    - if !@user.new_record?
      = link_to 'Delete User', @user, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'
