%table.table.table-hover
  %thead.thead-light
    %tr
      %th Name
      %th Description
      %th Tasks
      %th
      %th
  %tbody
    - if categories.empty?
      %td.text-warning There are no categories!
    - else
      - categories.each do |category|
        %tr
          %td
            %strong= category.name
          %td.description.text-info{ 'data-toggle' => 'tooltip', 'title' => category.description}
            = category.description
          %td.badge_list
            - category.tasks.each do |t|
              %span.badge.badge-pill.badge-dark= t.name
          %td
            = link_to 'Delete', category_path(category), remote: true, method: :delete, data: {confirm: "Are you sure you want to delete category '#{category.name}'?"}
          %td
            = link_to 'Edit', edit_category_path(category), remote: true