.container
  .row
    .span2.pull-right
      = link_to 'New Category', new_category_path, class: 'btn btn-primary', remote: true
  %br
  = form_tag(categories_path, method: :get) do
    = text_field_tag :term, params[:term]
    = submit_tag 'Search', name: nil
#category-list.container
  = render partial: 'categories/category_list', locals: {categories: @categories}
#modal.modal.fade