!!!
%html
  %head
    %title ToDo
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .row-fluid
      .span10.offset1
        .hero-unit.text-center
          %h1
            ToDo
          %p
            A simple todo app written in rails :)
          %br
          = link_to 'Tasks', tasks_path, class: 'btn-large btn-success'
          = link_to 'Categories', categories_path, class: 'btn-large btn-success'
    = yield

